#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
html,body{
  margin:0;
}

.info{
  display:flex ;
  flex-direction: column;
  
}
.weatherForm{
  justify-content: flex-start;
  align-items: left;
  align-content: left;
}